@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <img src="~/Images/Abtpic.jpg" class="abt img-responsive" />
    </div>
    <div class="demo-row typography-row">
        <div class="demo-title">
           

        </div>
        <div class="demo-content">
            <div class="demo-type-example">
                <span class="demo-text-note">About Us</span>
                <p>
                    Relync is a real estate website inspired by the love and desire to link ordinary persons to available and suitable housing. The product is a first, among others under the parent company <strong>
                        Pesh&Dean (U)
                    </strong> whose mandate is to corporate technological advancement in real estate to help fuel the growing need for housing to the ever growing middle class population. The product is a locally based initiative solving everyday housing problems with home grown solutions.
                </p>
                <p>
                    The company is well structured with highly qualified and motivated personnel to actively engage in real estate market both as practicing professionals and active market players.
                    Relync serves to plug the gap created by the deficit in the housing sector because as the population grows, it makes it more difficult to not only secure housing but also get housing that suits one’s specific tastes. Relync works tirelessly and coherently exploiting the latest technology and innovation to break this barrier providing a diverse pool of housing possibilities beyond your reach at a click of a button.
                </p>

            </div>
            <div class="demo-type-example">
                <span class="demo-text-note">Our Vision</span>
                <p>
                    To <strong>Landlords</strong>, we provide an online presence for  their real estate in full professional description in order to offer the right tenants. For <strong>tenants</strong>, we provide accurate description exploiting photos and video to allow them make informed decisions before contacting the landlord or caretaker.

                </p>
            </div>
            <div class="demo-type-example">
                <h3><span class="demo-heading-note">Our Team</span></h3>
            </div>

        </div>
    </div>
