@{
    ViewBag.Title = "About";
}
<div class="jumbotron about">
    
    </div>
    <div class="demo-row typography-row">
        <div class="demo-title">
           

        </div>
        <div class="demo-content">
            <div class="demo-type-example">
                <span class="demo-text-note">About Us</span>
                <p>
                    Relync is a real estate website inspired by the love and desire to link ordinary persons to available and suitable housing by its location first.  The product is a local initiative aiming at solving the everyday housing problems inherent making choices of where to stay or own by viewing where they are, and all the necessary information required to make an informed and effective choice.
                    It is a first, among others by <strong>
                        Pesh&Dean (U)
                    </strong> with an objective to incorporate tech  to solve the growing need for real estate and housing among the growing middle class population.
                </p>
                <p>
                    The company is well structured with highly qualified and motivated personnel who actively engage in the Ugandan real estate market both as practicing professionals and active market players.
                    Relync has chosen to plug the gap created by the deficit in the housing sector as a result of population growth which makes it more difficult to not only secure housing but also get housing that suits one’s specific tastes and preference. Relync works tirelessly and coherently exploiting the latest technology and innovation to break this barrier providing a diverse pool of housing possibilities at a click of a button.
                </p>

            </div>
            <div class="demo-type-example">
                <span class="demo-text-note">Our Vision</span>
                <p>
                    To <strong>Landlords</strong>, we provide an online presence for  their real estate in full professional description in order to offer the right tenants. For <strong>tenants</strong>, we provide accurate description exploiting photos and video to allow them make informed decisions before contacting the landlord or caretaker.

                </p>
            </div>
            <div class="demo-type-example">
                <h3><span class="demo-heading-note">Our Team</span></h3>
            </div>

        </div>
    </div>
