<div class="jumbotron about">

</div>
<div class="demo-row typography-row">
    <div class="demo-title">


    </div>
    <div class="demo-content">
        <div class="demo-type-example">
            
            <p>
                <strong> Relync</strong> is a real estate website inspired by the love and desire to link ordinary persons to available and suitable housing.   </p>
            <p>
                <h3>If you are a <strong> LandLord</strong> ?</h3>
                     </p>

        </div>
        <div class="demo-type-example">
            <h4>Step 1</h4>
            <p>
                To <strong>Landlords</strong>, we provide an online presence for  their real estate in full professional description in order to offer the right tenants. For <strong>tenants</strong>, we provide accurate description exploiting photos and video to allow them make informed decisions before contacting the landlord or caretaker.

            </p>
        </div>
        <div class="demo-type-example">
            <h3><span class="demo-heading-note">Our Team</span></h3>
        </div>

    </div>
</div>
